page-evaluation {
    .answer-option{
        width: 1.2em;
        height: 1.2em;
        border: 1px solid #b6b6b6;
    }
    .radioitem{
        border-radius: 50%;
    }
    .selected{
        background-color: blue;
    }
    .options{
        .label{
            font-size: 0.8em;
        }
    }
}
